<!DOCTYPE html>
<html>

<head>
    <!-- import scripts -->
    <script type="text/javascript" src="../handler.js"></script>
</head>

<body>
    <divgroup>
        <div id="square0"></div>
        <div id="square1"></div>
        <div id="square2"></div>
        <div id="square3"></div>
        <div id="square4"></div>
        <div id="square5"></div>
        <div id="square6"></div>
        <div id="square7"></div>
        <div id="square8"></div>
        <div id="square9"></div>
        <div id="squarea"></div>
        <div id="squareb"></div>
    </divgroup>
    <text id="master"></text>
</body>

</html>